aside{
  font-size: 0.8em;
  position: fixed;
  left: 98em;
  top: 5.5em;
  height: 100%;
  width: 20em;
  padding: 20px;
  z-index: 999;
}

.tag_list{

  top:100px;
  right:100px;
  border: 1px solid #ccc;
  padding: 20px;
}
.tag_list ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20px;
}

.tag_list h2{
	margin-bottom: 10px;
}

.tag_list ul li {
	width: 80px;
	margin-bottom: 5px;
}

.tag_list ul li:hover{
	font-weight: 700;
	cursor: pointer;
}