<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thread.mapper.LikeMapper">
  
  <insert id="LikePost" >
    INSERT INTO post_likes(post_like_id, user_like_email)
    VALUES(#{post_like_id}, #{user_like_email})
  </insert>
  
  <select id="likeNumbers" resultType="Long">
    <![CDATA[
  	  SELECT COUNT(*) 
  	  FROM post_likes 
  	  WHERE post_like_id = #{post_like_id}
  	]]>
  </select>
  
  <delete id="DislikePost">
  	DELETE FROM post_likes 
  	WHERE user_like_email = #{user_like_email}
  </delete>
  
  <delete id="DeletePost">
  	DELETE FROM post_likes
  	WHERE post_id = #{post_id}
  </delete>
  
  
</mapper>