<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thread.mapper.PostMapper">

<insert id="insert">
    INSERT INTO posts(post_content, post_user_email)
    VALUES(#{post_content}, #{post_user_email})
</insert>

<select id="getList" resultType="com.thread.domain.PostVO">
	<![CDATA[
		SELECT * 
		FROM posts 
		LIMIT #{count} OFFSET #{currentCount}
	]]>
</select>

<select id="get" resultType="com.thread.domain.PostVO">
	<![CDATA[
		SELECT * FROM posts WHERE post_id = #{post_id}
	]]>
</select>

<!-- <update id="update">
	UPDATE posts
	SET post_content = #{post_content},
	post_modify_date = TIMESTAMP
	WHERE post_id = #{post_id}
</update> -->

<update id="update">
	UPDATE posts
	SET post_content = #{post_content},
	post_modify_date = NOW()
	WHERE post_id = #{post_id}
</update>

<delete id="delete">
	DELETE FROM posts WHERE post_id = #{post_id}
</delete>

<select id="getUser" resultType="String">
	SELECT u.user_name
	FROM users u
	JOIN posts p ON u.user_email = p.post_user_email
	WHERE p.post_id = #{post_id}
</select>

<delete id="deleteComments">
	DELETE FROM comments WHERE comment_post_id = #{post_id}
</delete>

<select id="getCommentCount" resultType="int">
  SELECT COUNT(*) 
  FROM comments
  WHERE comment_post_id = #{post_id}
</select>

<!-- 검색 목록 -->
<select id="searchGetList" resultType="com.thread.domain.PostVO">
    
        select  post_id, post_content, post_user_email, post_add_date, post_modify_date
        from test.posts
        <if test="keyword != null">
            where post_content like concat('%',#{keyword}, '%')
        </if>
        order by post_content desc 
        limit #{skip}, #{amount}   
        
</select> 
<select id="countPostsByUser" resultType="int">
    SELECT COUNT(*) FROM posts WHERE post_user_email = #{user_email}
</select>

<select id="getFirstComment" resultType="com.thread.domain.CommentVO">
	SELECT *
	FROM comments c
	WHERE c.comment_post_id = #{post_id}
	ORDER BY c.comment_add_date ASC
	LIMIT 1;
</select>

<select id="getFirstCommentUser" resultType="String">
	SELECT u.user_name
	FROM comments c
	JOIN users u ON c.comment_user_email = u.user_email
	WHERE c.comment_post_id = #{post_id}
	ORDER BY c.comment_add_date ASC
	LIMIT 1;
</select>
</mapper>