* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ul, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

a{
	all: unset;
}

/* button {
    all: unset;
} */