* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 400px;
  margin: 150px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.logo {
  text-align: center;
}

.withdrawal_Message{
	margin: 35px 0px;
	font-weight: bold;
	font-family: -apple-;
}
.withdrawal_Main_Message{
	font-size : 12px;
	font-family: -apple-;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
}
.withdrawal_Main_Message input{
	font-size : 12px;
	font-family: -apple-;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 35px;
	
}

.withdrawalBtn{
	
  width: 150px;
  height: 36px;
  margin: 15px;
  background-color: #b9dffc;
  color: white;
  border: none;
  border-radius: 5px;
}

.change{
	
	display: block;
	width: 260px;
	height: 36px;
	padding: 3px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	background-color:transparent;
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	cursor: pointer;
	font-size : 5px;
}

.logoPicture {
  margin: 50px 0px;
}

login-container input {
  display: block;
  width: 250px;
  height: 36px;
  padding: 8px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.error_message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    font-size: 5px;
}

.success_message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    font-size: 5px;
}

.user_Login {
	display: block;
	width: 260px;
	height: 36px;
	padding: 8px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
}


.loginBtn {
  width: 260px;
  height: 30px;
  margin: 15px;
  background-color: #b9dffc;
  color: white;
  border: none;
  border-radius: 5px;
}

/* 로그인 실패시 경고글 */
.login_warn{
  background-color: transparent;
  color: red;
  border: none;
  font-size: 12px;
  text-align:center;
  font-weight:bold;
}

/* h1 {
  font-size: 50px;
} */

/* h1 {
>>>>>>> f2912afb812be2a54089616773531c8fb800dc16
  font-size: 50px;
} */

input {
  margin: 3px auto;
  background-color: #fafafa;
  font-size: 12px;
}

footer {

  /*position: relative;*/
  position: relative;
  top : 10px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  text-align: center;
}


.user-container {
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  align-items: center;      /* 세로 중앙 정렬 */
  width: 350px;
  height: 50px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
  margin-top: 10px;
}

.user-container form {
  display: flex;           /* form 요소 내의 항목들을 flex로 만들어 줍니다. */
  align-items: center;     /* form 요소 내의 항목들을 세로 중앙 정렬합니다. */
  gap: 0;               /* 항목들 사이의 간격을 줍니다. */
}

.user-container span {
  font-weight: bold;       /* '계정이 없으신가요?'의 글자 무게를 굵게 설정합니다. */
  font-size: 14px;         /* 글자 크기를 설정합니다. */
  margin-left : 0;
}

.user {
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 14px;         /* 회원가입 버튼의 글자 크기를 설정합니다. */
  margin : 0;
}

.small_text {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px; 
}


.user_Join {
	display: block;
	width: 150px;
	height: 36px;
	padding: 8px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
}

.user_Join_Id{
	display: block;
	width: 150px;
	height: 36px;
	padding: 8px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin-left:55px;
}

.user_Join_nickname {
	display: block;
	width: 150px;
	height: 36px;
	padding: 8px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin-left:55px;
}

.confirm{
	display: block;
	width: 50px;
	height: 36px;
	padding: 3px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	background-color:transparent;
	font-family: -apple-;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	cursor: pointer;
	font-size : 5px;
	margin-left:5px;
}

.email-form{
	display: flex;
}

#submit_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#email_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#password_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#newPassword_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#confirmPassword_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#user_name_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#username_change_message {
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#modify_username_message{
	background-color: transparent;
	color: red;
	border: none;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}



/* .userJoin-container input {
  display: block;
  width: 100px;
  height: 30px;
  padding: 8px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
} */