* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 380px;
  margin: 150px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.logo {
  text-align: center;
}

.logoPicture {
  margin: 35px 0;
}

.login-container input {
  display: block;
  width: 270px;
  height: 36px;
  padding: 8px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.loginBtn {
  width: 268px;
  height: 30px;
  margin: 15px;
  background-color: #b9dffc;
  color: white;
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 50px;
}

input {
  margin: 3px auto;
  background-color: #fafafa;
  font-size: 12px;
}

footer {
  position: relative;
  top: 65px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  text-align: center;
}


.member-container {
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  align-items: center;      /* 세로 중앙 정렬 */
  width: 350px;
  height: 50px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
  margin-top: 10px;
}

.member-container form {
  display: flex;           /* form 요소 내의 항목들을 flex로 만들어 줍니다. */
  align-items: center;     /* form 요소 내의 항목들을 세로 중앙 정렬합니다. */
  gap: 0;               /* 항목들 사이의 간격을 줍니다. */
}

.member-container span {
  font-weight: bold;       /* '계정이 없으신가요?'의 글자 무게를 굵게 설정합니다. */
  font-size: 14px;         /* 글자 크기를 설정합니다. */
  margin-left : 0;
}

.member {
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 14px;         /* 회원가입 버튼의 글자 크기를 설정합니다. */
  margin : 0;
}

.pwd_check {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px; 
}