@charset "UTF-8";

<style>
/* 추가한 CSS 스타일 */
.commentList {
	display: flex;
	flex-direction: column;
}

.commentItem {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profilePic {
	margin-right: 10px;
}

</style>
  <style type="text/css">
	.uploadResult{
	width: 100%;
	background-color: white;
	}
	
	.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;}
	
	.uploadResult ul li{
	list-style: none;
	padding: 10px;
	}
	
	.uploadResult ul li img {
	width: 40px;
	}
  </style>